<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
     
    <style type="text/css">
		table {border:0;border-collapse:collapse;}
		td {font:normal 12px/17px Arial;padding:2px;width:100px;}
		th {font:bold 12px/17px
		   Arial;text-align:left;padding:4px;border-bottom:1px solid #333;}
		.dan {background:#FC0}
		.ou {background:#FFF}
		.ed {background:#669;color:#fff;}
    </style>

  </head>
  <body>
  	